/*CABEÇALHO*/
.bt-log {
    height: 40px;
    text-align: start;
    margin-bottom: 5px;
    color: #56175C;
    background-color: white;
}
.bt-menu {
    width: 100%;
    height: 40px;
    text-align: start;
    margin-bottom: 20px;
    color: #56175C;
    background-color: white;
}
.bt-log:hover {
    background-color: #C27119;
}
.modal-content {
    background-color:#C27119;
    color: #56175C;
}

#di{
    padding: 1rem 1rem 1rem 25rem;
    background-color: black;
}
.img{
    padding-right: 15rem;
}
/*CABEÇALHO*/


/*CONTEUDO*/
/*login col*/
.conteudo {
    background-image: linear-gradient(to right top, #56175c, #6e1861, #851964,
     #9c1c64, #b22163, #be285c, #c93254, #d13d4c, #d14a3e, #ce5731, #c96425, #c27119);
    border-radius: 20px;
    
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    color: #56175C;
}

.tx {
    color: black;
    text-decoration: none;
}

.card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    border-radius: 30px;
    font: caption;
}

.btn-entrar {
    height: 40px;
    width: 50%;
    border-radius: 10px;
    background:white;
    color: black;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

footer {
    padding: 20px;
    background-color:black;
    color: #ffffff;    
}

@media screen  and (max-width: 500px){
    #di{
        padding: 1rem 1rem 1rem 5rem;
        background-color: black;
    }
    .navbar-toggler-icon{
        background-color:#56175C;
    }
    .img{
        padding-right: 10px;
    }
    #img-logo2{
        display: none;
    }
    .login {
        display: inline;
        justify-content: center;
        align-items: center;
    }
  
    }